.player-stars {
    margin-top: 5px;
}

.star {
    font-size: 14px;
    margin-right: 2px;
}

.player-stars .fa-star {
    color: #FFD700; /* Gul färg för stjärnorna */
    margin-right: 2px;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.3)); /* Lägg till en subtil skugga */
}

.player-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
} 